<!-- {
  "id": 0,
  "products": [
    {
      "productId": 0,
      "productName": "string",
      "productDescription": "string",
      "productPrice": 0
    }
  ],
  "customer": {
    "customerId": 0,
    "customerName": "string"
  }
} -->

<div class="form-group">
  <label>Product Id</label>
  <input #productId type="number" class="form-control" />
  <div class="form-group">
    <label>Product Quantity</label>
    <input #productQuantity type="number" class="form-control" />
  </div>
</div>

<div class="form-group">
  <label>Customer Id</label>
  <input #customerId type="number" class="form-control" />
</div>
<button
  (click)="
    sendMessage(+customerId.value, +productId.value, +productQuantity.value)
  "
  class="btn btn-primary"
>
  Submit
</button>
